<div class="row">
  <div class="col-md-3">
    <div class="card">
      <div class="card-body">
        <h1 class="card-title">{{model.currentGeneration}}</h1>
        <h6 class="card-subtitle mb-2 text-muted">Current gen.</h6>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <div class="card">
      <div class="card-body">
          <button type="button" class="btn btn-primary" (click)="start()">Play</button>
          <button type="button" class="btn btn-primary">Stop</button>
      </div>
    </div>
  </div>
</div>  
