<h1>Geração {{number}}</h1>

<div class="row spaced">
  <div class="col-md-3" *ngFor="let individual of generation.individuals">
    <div class="card">
      <div class="card-body">
        <h1 class="card-title">{{individual.average | percent}}</h1>
        <h6 class="card-subtitle mb-2 text-muted">{{getSpecies(individual.chromossome)}}</h6>        
        <button type="button" class="btn btn-primary btn-block" (click)="open(individual.chromossome)">Open</button>
      </div>
    </div>
  </div>
</div>