<div class="row spaced">
  <div class="col-md-3">
    <div class="card">
      <div class="card-body">
        <h1 class="card-title">{{model.currentGeneration}}</h1>
        <h6 class="card-subtitle mb-2 text-muted">Current gen.</h6>
        <div class="progress" style="height: 2px;">
          <div class="progress-bar" role="progressbar" [style.width.%]="model.currentGenerationProgress * 100" aria-valuenow="25" aria-valuemin="0"
            aria-valuemax="100"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <div class="card-body">
          <button type="button" class="btn btn-primary btn-block" (click)="model.start()">Play</button>
          <button type="button" class="btn btn-primary btn-block">Stop</button>
      </div>
    </div>
  </div>
</div>

<div class="row spaced">
  <div class="col-md-12">
    <table class="table">
      <thead class="thead">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Average</th>
          <th scope="col">Best</th>
          <th scope="col">Worst</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let generation of model.generationResults">
          <th scope="row"><a [routerLink]="['/gen', generation.number]">{{generation.number}}</a></th>
          <td>{{generation.average | percent}}</td>
          <td>{{generation.best.average | percent}}</td>
          <td>{{generation.worst.average | percent}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>